<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link href="./css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
</head>

<header>
    <div id="superior">
        <img id="logo" src="./images/logo-mercado-liebre.svg" alt="" srcset="">

        <nav>
            <input id="buscador" type="text" name="busquedaUsuario">
            <i class="fa-solid fa-magnifying-glass"></i>
        </nav>
    
        <div id="pagos">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de credito
        </div>
    </div>
    
    <div id="menu">
        <i class="fa-solid fa-bars" id="barras"></i>
    </div>

    <div id="navbar" type="none">
        <span>Ofertas</span>
        <span>Tiendas Oficiales</span>
        <span>Vender</span>
        <span>Ayuda</span>
    </div>
    <div id="navbar" type="none">
        <span>
            <a href="/register">Crea tu cuenta</a>
            <i class="fa-solid fa-address-card"></i>
        </span>
        <span>
            <a href="/login">Ingresa</a>
            <i class="fa-solid fa-right-to-bracket"></i>
        </span>
        <span>Mis compras
            <i class="fa-solid fa-basket-shopping"></i>
        </span>
    </div>
</header>

<main>

    <form action="" method="post" id="formulario">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombreUsuario">
        </div>
        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellidoUsuario">
        </div>
        <div>
            <label for="nacimiento">Fecha de nacimiento:</label>
            <input type="date" name="fechaNacimiento">
        </div>
        <div>
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilioUsuario">
        </div>
        <div>
            <label for="perfil">Quiere comprar o vender?</label>
            <input type="radio" name="perfilUsuario" value="comprar">Comprar
            <input type="radio" name="perfilUsuario" value="vender">Vender
        </div>
        <div>
            <label for="interes">Elija una o mas categorias de su interes:</label>
            <select name="categorias">
                <option value="electro">Electro</option>
                <option value="moda">Moda</option>
                <option value="hogar">Hogar</option>
                <option value="jugueteria">Jugueteria</option>
                <option value="vidaSana">Vida sana</option>
            </select>
        </div>
        <div>
            <label for="foto">Foto de perfil:</label>
            <input type="file" accept=".jpg">
        </div>
        <div>
            <label for="clave">Clave de acceso:</label>
            <input type="password" name="ingresoClave">
        </div>
        <div>
            <label for="confirmarClave">Ingrese nuevamente su clave de acceso:</label>
            <input type="password" name="reingresoClave">
        </div>
        <span>
            <button type="submit">Enviar</button>
        </span>
        <span>
            <button type="reset">Cancelar</button>
        </span>
    </form>

</main>

<footer>

    <span id="info">
        <i id="iconosFoot" class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p id="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </span>
    <span id="info">
        <i id="iconosFoot" class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $2.500</h4>
        <p id="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </span>
    <span id="info">
        <i id="iconosFoot" class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p id="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </span>
    <span id="info">
        <p id="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </span>

</footer>

</html>